<launch>
  <!-- Map server -->
  <arg name="map_file" default="$(find uncertain_turtlebot_navigation)/maps/slam_map.yaml" />
  
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
  <!-- Localization -->
  <node name="localization" pkg="fake_localization" type="fake_localization">
    <remap from="base_pose_ground_truth" to="odom" />
  </node>
  
  <!-- Move base -->
  <include file="$(find uncertain_turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="global_costmap_type" value="slam" />
  </include>
  
  <!-- Visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/navigation.rviz" />
</launch>